@model IEnumerable<GardenBlog.Models.Tag>
@{
    ViewData["Title"] = "AddTags";
    Layout = "_layout";
}

<div class="title">
    <h2>Add Tags</h2>
</div>

<div>
        @*@Html.DropDownList("Tags",(@Model),new
        { onchange="document.location.href='/Post/Index?value='+this.value"})*@
</div>

