* {
}

body {
    background-color: rgb(165, 187, 171);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("/Images/white-lilies.png");
    background-size: cover;
    min-height: 800px;
}

footer, i {
    background-color: rgb(3, 48, 16);
    color: white;
    text-align: center;
    width: 100%;
}

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: .5em;
}

nav {
    background-color: rgb(3, 48, 16);
    width: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    text-decoration: none;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    list-style: none;
    background-color: rgb(3, 48, 16);
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.navbutton, .button{
    background: linear-gradient(to top right, rgb(3, 48, 16), rgb(59, 138, 81));
    border: none;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 13px 20px;
}

.navbutton:hover, .button:hover {
    background: rgb(211, 198, 174);
    color: black;
    border: 2px solid rgb(3, 48, 16);
}

.navbutton:hover{
    border:none;
}

.multibutton{
    display:flex;
    width: 18vw;
    justify-content: space-around;
}

.title{
    padding-top: 3em;
}

#category {
    margin: 3em auto 0;
    opacity: .78;
    width: 40vw;
}

    #category a, #category h3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: black;
        padding: 1em;
        margin: 2em;
        text-decoration: none;
        background-color: antiquewhite;
    }

#category:hover{
    opacity: .95;
}

h2 {
    color: rgb(15, 32, 20);
    font-size: 2em;
}

#details{
    padding-top: 3em;
    padding-bottom:0;
    margin-left: 1em;
}

#index, #createposts {
    width: 80vw;
    margin: 1.5em auto;
    opacity: .87;
    background-color: antiquewhite;
    padding: 1em;
}

#index h3, #index span, #index p{
    color: black;
    background-color: antiquewhite;
}

#index h3{
    background-color: antiquewhite;
}

#welcome {
    padding: 1em;
    max-width: 800px;
    text-align: center;
    margin: 4em auto;
    color: black;
}

#wel {
    opacity: .87;
}

#index ul span{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

return{
    padding: 1em 0;
}

form-group {
    background-color: rgb(165, 187, 171);
}

content{
    background-color: antiquewhite;
}
