* {
    background-color: rgb(165, 187, 171);
}

body {
    background-image: url("/Images/white-lilies.png");
    background-size: cover;
    min-height: 800px;
}

footer, i {
    background-color: rgb(3, 48, 16);
    color: white;
    text-align: center;
    width: 100%;
}

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: .5em;
}

nav {
    background-color: rgb(3, 48, 16);
    width: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    list-style: none;
    background-color: rgb(3, 48, 16);
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.navbutton, .createblog{
    background: linear-gradient(to top right, rgb(3, 48, 16), rgb(59, 138, 81));
    border: none;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 13px 20px;
}

.navbutton:hover, .createblog:hover {
    background: rgb(211, 198, 174);
    color: black;
    border: 2px solid rgb(3, 48, 16);
}

#category{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 3em auto;
    opacity: .83;
    background-color:antiquewhite;
}

#category a {
    color: black;
    text-decoration: none;
    padding: 5em;
    background-color: antiquewhite
}


#index, #createposts{
    width: 80vw;
    margin: 4em auto;
    opacity: .87;
    background-color: antiquewhite;
}

#index h3, span, p{
    color: black;
    background-color: antiquewhite;
}


