@using GardenBlog.Controllers;
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>B&B Garden Blog</title>
    <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' />
    <link href="~/CSS/_layoutStyle.css" rel="stylesheet"/>
    @RenderSection("styles", false)
</head>
<header>
    <nav>
        <ul>
            <a href="/"><li class="navbutton">Home</li></a>
            <a href="/category/Details/1"><li class="navbutton">Indoor Plant Blogs</li></a>
            <a href="/category/Details/2"><li class="navbutton">Outdoor Plant Blogs</li></a>
            <a href="/category/Index"><li class="navbutton">All Blogs</li></a>



        </ul>
    </nav>
</header>
<body>
    @RenderBody()

</body>
<footer>
    <i>B&B Garden Blog &copy;2019</i>
</footer>
</html>
