@model IEnumerable<GardenBlog.Models.Category>
@{
    ViewData["Title"] = "Post Categories";

    Layout = "_layout";
}

@foreach (var item in Model)
{
    <a href="/Category/Details/@item.CategoryId"><h3>@item.CategoryName</h3></a>
}
